{{ ansible_managed | comment }}
{% if firejail_apparmor_enabled | default(false) | bool %}

# AppArmor confinement for all sandboxed applications
apparmor
{% endif %}
{% for line in firejail_globals %}
{{ line }}
{% endfor %}
