{{ ansible_managed | comment }}

[Unit]
Description=AIDE File Integrity Check
Documentation=man:aide(1)
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aide-check.sh
StandardOutput=journal
StandardError=journal
Nice=19
IOSchedulingClass=idle
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
