{
  "auths": {
{% for auth in podman_registries_auth %}
    "{{ auth.registry }}": {
      "auth": "{{ (auth.username ~ ':' ~ auth.password) | b64encode }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  }
}
