{{ ansible_managed | comment }}
## Audit Rules

## Remove any existing rules
-D

## Buffer Size
-b {{ auditd_buffer_size }}

## Failure Mode
## 0=silent 1=printk 2=panic
-f {{ auditd_failure_mode }}

## Backlog wait time
--backlog_wait_time {{ auditd_backlog_wait_time }}

{% if auditd_time_change_enabled or auditd_pci_dss_enabled or auditd_hipaa_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Time Changes (Compliance: PCI-DSS, HIPAA, NIST, STIG)
-a always,exit -F arch=b64 -S adjtimex,settimeofday -k time-change
-a always,exit -F arch=b32 -S adjtimex,settimeofday,stime -k time-change
-a always,exit -F arch=b64 -S clock_settime -k time-change
-a always,exit -F arch=b32 -S clock_settime -k time-change
-w /etc/localtime -p wa -k time-change
{% endif %}
{% if auditd_identity_change_enabled or auditd_pci_dss_enabled or auditd_hipaa_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## User/Group Changes (Compliance: All)
-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity
{% endif %}
{% if auditd_network_change_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Network Configuration Changes
-a always,exit -F arch=b64 -S sethostname,setdomainname -k system-locale
-a always,exit -F arch=b32 -S sethostname,setdomainname -k system-locale
-w /etc/issue -p wa -k system-locale
-w /etc/issue.net -p wa -k system-locale
-w /etc/hosts -p wa -k system-locale
-w /etc/network -p wa -k system-locale
-w /etc/networks -p wa -k system-locale
{% endif %}
{# Only emit sethostname/setdomainname if not already covered by Network section #}
{% if auditd_system_locale_enabled or auditd_nist_enabled or auditd_stig_enabled %}
{% if not (auditd_network_change_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled) %}
## System Locale Changes
-a always,exit -F arch=b64 -S sethostname,setdomainname -k system-locale
-a always,exit -F arch=b32 -S sethostname,setdomainname -k system-locale
{% endif %}
{% endif %}
{% if auditd_mac_policy_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## MAC Policy Changes (SELinux/AppArmor)
-w /etc/selinux/ -p wa -k MAC-policy
-w /etc/apparmor/ -p wa -k MAC-policy
-w /etc/apparmor.d/ -p wa -k MAC-policy
-w /usr/share/selinux/ -p wa -k MAC-policy
{% endif %}
{% if auditd_logins_enabled or auditd_pci_dss_enabled or auditd_hipaa_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Login/Logout Events
-w /var/log/faillog -p wa -k logins
-w /var/log/lastlog -p wa -k logins
-w /var/run/faillock/ -p wa -k logins
{% endif %}
{% if auditd_session_enabled or auditd_pci_dss_enabled or auditd_hipaa_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Session Initiation
-w /var/run/utmp -p wa -k session
-w /var/log/wtmp -p wa -k session
-w /var/log/btmp -p wa -k session
{% endif %}
{% if auditd_perm_mod_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Permission Changes (chmod, chown, etc.)
-a always,exit -F arch=b64 -S chmod,fchmod,fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S chmod,fchmod,fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S chown,fchown,fchownat,lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S chown,fchown,fchownat,lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b64 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
-a always,exit -F arch=b32 -S setxattr,lsetxattr,fsetxattr,removexattr,lremovexattr,fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod
{% endif %}
{% if auditd_access_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Unsuccessful File Access Attempts
-a always,exit -F arch=b64 -S open,openat,creat,truncate,ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S open,openat,creat,truncate,ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access
-a always,exit -F arch=b64 -S open,openat,creat,truncate,ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S open,openat,creat,truncate,ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access
{% endif %}
{% if auditd_delete_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## File Deletions
-a always,exit -F arch=b64 -S unlink,unlinkat,rename,renameat -F auid>=1000 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S unlink,unlinkat,rename,renameat -F auid>=1000 -F auid!=4294967295 -k delete
{% endif %}
{% if auditd_scope_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Sudoers Changes
-w /etc/sudoers -p wa -k scope
-w /etc/sudoers.d/ -p wa -k scope
{% endif %}
{% if auditd_actions_enabled or auditd_pci_dss_enabled or auditd_hipaa_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Sudo Usage
-a always,exit -F arch=b64 -C euid!=uid -F euid=0 -S execve -k actions
-a always,exit -F arch=b32 -C euid!=uid -F euid=0 -S execve -k actions
{% endif %}
{% if auditd_modules_enabled or auditd_pci_dss_enabled or auditd_nist_enabled or auditd_stig_enabled %}
## Kernel Module Changes
-w /sbin/insmod -p x -k modules
-w /sbin/rmmod -p x -k modules
-w /sbin/modprobe -p x -k modules
-a always,exit -F arch=b64 -S init_module,finit_module,delete_module -k modules
-a always,exit -F arch=b32 -S init_module,finit_module,delete_module -k modules
{% endif %}
{% if auditd_watches | length > 0 or auditd_custom_watches | length > 0 %}

## Custom File Watches
{% for watch in auditd_watches %}
-w {{ watch.path }} -p {{ watch.permissions }} -k {{ watch.key }}
{% endfor %}
{% for watch in auditd_custom_watches %}
-w {{ watch.path }} -p {{ watch.permissions }} -k {{ watch.key }}
{% endfor %}
{% endif %}
{% if auditd_rules_immutable %}

## Make Configuration Immutable
## NOTE: This MUST be last! After this, rules cannot be changed without reboot
-e 2
{% endif %}
