{{ ansible_managed | comment }}
#
# WireGuard Configuration: {{ __wireguard_iface.name }}
#

[Interface]
Address = {{ __wireguard_iface.address }}
{% if __wireguard_iface.address_ipv6 | default('') | length > 0 %}
Address = {{ __wireguard_iface.address_ipv6 }}
{% endif %}
PrivateKey = {{ __wireguard_private_key }}
ListenPort = {{ __wireguard_iface.port | default(51820) }}
{% if __wireguard_iface.fwmark | default('') | length > 0 %}
FwMark = {{ __wireguard_iface.fwmark }}
{% endif %}
{% if __wireguard_iface.mtu | default(0) | int > 0 %}
MTU = {{ __wireguard_iface.mtu }}
{% endif %}
{% if __wireguard_iface.table | default('auto') != 'auto' %}
Table = {{ __wireguard_iface.table }}
{% endif %}
{% if __wireguard_iface.saveconfig | default(false) | bool %}
SaveConfig = true
{% endif %}
{% if __wireguard_iface.dns | default([]) | length > 0 and __wireguard_iface.mode | default('server') == 'client' %}
DNS = {{ __wireguard_iface.dns | join(', ') }}
{% endif %}
{% for cmd in __wireguard_iface.preup | default([]) %}
PreUp = {{ cmd }}
{% endfor %}
{% for cmd in __wireguard_iface.postup | default([]) %}
PostUp = {{ cmd }}
{% endfor %}
{% for cmd in __wireguard_iface.predown | default([]) %}
PreDown = {{ cmd }}
{% endfor %}
{% for cmd in __wireguard_iface.postdown | default([]) %}
PostDown = {{ cmd }}
{% endfor %}
{% for peer in __wireguard_iface.peers | default([]) %}

# Peer: {{ peer.name }}{% if peer.description is defined %} - {{ peer.description }}{% endif %}

[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.preshared_key is defined and peer.preshared_key | length > 0 %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined and peer.endpoint | length > 0 %}
Endpoint = {{ peer.endpoint }}
{% endif %}
{% if peer.persistent_keepalive is defined and peer.persistent_keepalive | int > 0 %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}
{% endfor %}
